body {
	height: 100%;
	margin: 0;
	text-align: center;
    width: 100%;
	background-size: cover;
	color: white;
    background-repeat: no-repeat; 
    font-family: Georgia, serif;
}

h1 {
	background-color: grey;
	width: 300px;
    height: 100px;
}

h2 {
	background-color: grey;
	width: 300px;
    height: 100px;
}


.hero {
	background-image: url('https://img.huffingtonpost.com/asset/585be1aa1600002400bdf2a6.jpeg?ops=scalefit_970_noupscale');
	background-position: center top;
	background-size: cover;
	font-family: 'Trebuchet MS', 'Helvetica';
	padding: 250px 0;
	margin: 30px;
}



.hero a {
	color: white;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}